.face {
  height: 100px;
  width: 100px;
  background-color: blue;
  position: absolute;
  border: 1px solid black;
}
.cube-1 {
  transform-style: preserve-3d;
  animation: rotate 4s infinite;
}
.back {
  transform: translateZ(-100px);
}
.left {
  transform-origin: top left;
  transform: rotateY(90deg);
}
.right {
  transform-origin: top right;
  transform: rotateY(-90deg);
}
.bottom {
  transform-origin: bottom;
  transform: rotateX(90deg);
}
.top {
  transform-origin: bottom;
  transform: rotateX(90deg) translateZ(100px);
}
.front{
	
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
